@font-face{
    font-family: 'Starwars';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('Starjhol.ttf') format('truetype');
}

body { 
	background-image:url(img/space.png);
	margin-top:-20px ;
}

.titre {
	margin:00px;
	font-family:'Starwars' ;
	font-size:90px ;
	text-align:center;
	color:#FFFF00 ;
}

p { 
	font-size:20px ;
	margin-left:10px ;
	text-align:center;
	color:#FFFF00 ;
}

.col-md-4 { 
	/* border:1px solid red ; */
	height:330px ;
}

#affichage1, #affichage2, #affichage3, #info1, #info2 {
	padding-left: 10px;
	margin-bottom:10px ;
	font-size: 20px;
	color:#FFFF00 ;
}

#affichage4 {
	margin-bottom:20px ;
	font-size: 11px;
	color:red ;
}

.box {padding-top:20px ;}

.button {
	position:absolute ;
	left:0 px ;}
	
#figure1, #figure2, #figure3 { 
	position:absolute ;
	right:0px;
	bottom:0px;}
	
#info1, #info2, #info3 { 
	position:relative ;
	text-align:center ;
	right:0px;
	bottom:0px;}
	
.small-img {width:20% ; }

.btn-default { 
  color: #030303; 
  background-color: #B39D0E; 
  border-color: #050505; 
} 
 
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default { 
  color: #030303; 
  background-color: #F7EB05; 
  border-color: #050505; 
} 
 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default { 
  background-image: none; 
} 
 
.btn-default.disabled, 
.btn-default[disabled], 
fieldset[disabled] .btn-default, 
.btn-default.disabled:hover, 
.btn-default[disabled]:hover, 
fieldset[disabled] .btn-default:hover, 
.btn-default.disabled:focus, 
.btn-default[disabled]:focus, 
fieldset[disabled] .btn-default:focus, 
.btn-default.disabled:active, 
.btn-default[disabled]:active, 
fieldset[disabled] .btn-default:active, 
.btn-default.disabled.active, 
.btn-default[disabled].active, 
fieldset[disabled] .btn-default.active { 
  background-color: #B39D0E; 
  border-color: #050505; 
} 
 
.btn-default .badge { 
  color: #B39D0E; 
  background-color: #030303; 
}